.box-shadow(@style, @c) when (iscolor(@c)) {
  -webkit-box-shadow: @style @c;
  box-shadow: @style @c;
}

.box-shadow(@style: 0 0 15px, @alpha: 100%) when (isnumber(@alpha)) {
  .box-shadow(@style, rgba(0, 0, 0, @alpha));
}

.transition (@value1,@value2:X,...) {
  @value: ~`"@{arguments}".replace(/[\[\]]|\,\sX/g, '')`;

  -webkit-transition: @value;
  -moz-transition: @value;
  -ms-transition: @value;
  -o-transition: @value;
  transition: @value;
}

.border-radius (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;

  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

body {
  color: #fff6de;
  background: #2b2b2b;
}

@page-padding: 5px;

.page {
  background-color: #fff6de;
  color: #000;
  display: inline-block;
  position: relative;
  width: 200px;
  height: 300px;
  margin: 15px;
  .box-shadow;
  text-align: left;
  cursor: pointer;
  padding: @page-padding;
  overflow: hidden;
  word-wrap: break-word;
  text-decoration: none;
}

.page_back_button {
  position: absolute;
  background-color: #ff4b37;
  cursor: pointer;
  right: 10px;
  top: 30px;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  .border-radius(20px);
  .box-shadow;
  text-decoration: none;
  color: #000;
}

.page_back_button:hover {
  width: 35px;
  height: 35px;
  top: 28.5px;
  right: 8.5px;
  .box-shadow(0 0 20px);
  line-height: 35px;
}

.page_back_button:active {
  width: 27px;
  height: 27px;
  top: 31.5px;
  right: 11.5px;
  .box-shadow(0 0 10px);
  line-height: 27px;
}

.page:hover {
  margin: 0 10px 5px;
  padding: (@page-padding+5);
}

.page:active {
  margin: 0px 12.5px 5px;
  padding: (@page-padding+2.5);
}

.page_selected {
  display: block;
  width: auto;
  height: auto;
  min-height: 300px;
  margin: 15px;
  cursor: auto;
  padding: 0;
}

.page_selected:hover {
  margin: 15px;
  padding: 0;
}

.page_selected > .page_name, .page_selected > .page_text {
  display: block;
  padding: 0 15px;
}

.page_not_selected {
  .transition(height 500ms ease-in-out 50ms,
  width 500ms ease-in-out 50ms);
  //margin 500ms ease-in-out 50ms,
  //padding 500ms ease-in-out 50ms);
}

.page_animate_hide {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  .transition(height 500ms ease-in-out 50ms,
  width 500ms ease-in-out 50ms,
  margin 500ms ease-in-out 50ms,
  padding 500ms ease-in-out 50ms);
}

.page_image {
  width: 100%;
}

.selected {
  background-color: orange;
}

@media screen and (max-width: 725px) {
  .pages {
    text-align: center;
  }
}

@media screen and (max-width: 275px) {
  .pages {
    text-align: center;
  }
}